venv
__pycache__/
data/
data.db
data.db-journal
faiss_index
test.py
test2.py
test3.py
test4.py
test5.py
test6.py
test7.py
test8.py
test9.py
test10.py
test11.py
test12.py
.pytest_cache/
claims/
data/analysis/
models/
tmp_trainer/
.env
FEVERISH_1.json
FEVERISH_2.json
FEVERISH_3.json
FEVERISH_3_1.json
FEVERISH_3_2.json
FEVERISH_3_3.json
FEVERISH_3_4.json
FEVERISH_3_5.json
FEVERISH_3_6.json
FEVERISH_3_7.json
final_version.json
model/